{%extends 'base.html'%}
{%load static%}

{%block tab%}{{movie.name|title}} - Minha Lista de Filmes{%endblock%}

{%block content%}
<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					{%if movie.pic%}
						<img alt="Image" src="{{movie.pic.url}}"  style="max-width: 300px; height: auto;">
					{%else%}
						<img alt="Image" src="{%static 'no_image.png'%}"  style="max-width: 300px; height: auto;">
					{%endif%}
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<h1 class="text-center">
				{{movie.name}}
			</h1>
      <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
			<div class="row">
				<div class="col-md-6">
					<h5 class="text-left">
            Assistido: 
            {%if movie.whatched or movie.date%}
            Sim 
            {%else%}
            Não 
            {%endif%}
					</h5>
				</div>
				<div class="col-md-6">
					<h5 class="text-right">
						Data: {{movie.date|date:'d/m/Y'}}
					</h5>
				</div>
			</div>
      <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
      <div class="row">
				<div class="col-md-12">
					<h5 class="text-left">
						Resenha
					</h5>
					<p class="text-left">
            {{movie.review}}
					</p>
          <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
			<div class="row">
				<div class="col-md-4">
          <a class="btn btn-sm btn-secondary" href="{%url 'index'%}" role="button">Voltar</a>
				</div>
				<div class="col-md-4">
					 
					<a href="update/{{movie.id}}" class="btn btn-sm btn-info">Editar</a>
				</div>
				<div class="col-md-4">
					<a href="delete/{{movie.id}}" class="btn btn-sm btn-danger">Excluir</a>
				</div>
        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
			</div>
		</div>
	</div>
</div>
{%endblock%}
