{%extends 'base.html'%}

{%block content%}
<h1>Minha Lista de Filmes</h1>
<h1>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">FILME</th>
        <th scope="col">ASSISTIDO</th>
        <th scope="col">DATA</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {%for movie in movies%}
      <tr>
        <th scope="row">{{movie.name}}</th>
        {%if movie.whatched%}
        <td>Sim</td>
        {%else%}
        <td>Não</td>
        {%endif%}
        <td>{{movie.date|date:'d/m/Y'}}</td>
        <td>
          <a class="btn btn-secondary" href="{%url 'detail' movie.id%}" role="button">Detalhes</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
</table>
{%endblock%}
