{%extends 'base.html'%}

{%block tab%}Minha Lista de Filmes{%endblock%}

{%block content%}
<h1>Minha Lista de Filmes</h1>
<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <td>
        <a class="btn btn-sm btn-primary" href="{%url 'new_movie'%}" role="button">Novo Filme</a>
      </td>
    </div>
		<div class="col-md-3">
    </div>
		<div class="col-md-3">
    </div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">FILME</th>
        <th scope="col">ASSISTIDO</th>
        <th scope="col">DATA</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {%for movie in movies%}
      <tr>
        <th scope="row">{{movie.name}}</th>
        {%if movie.whatched%}
        <td>Sim</td>
        {%else%}
        <td>Não</td>
        {%endif%}
        <td>{{movie.date|date:'d/m/Y'}}</td>
        <td>
          <a class="btn btn-sm btn-secondary" href="{%url 'detail' movie.id%}" role="button">Detalhes</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
</table>
{%endblock%}
