{%extends 'base.html'%}

{%block content%}
<h1>Cover your page.</h1>
<h1>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">FILME</th>
        <th scope="col">ASSISTIDO</th>
        <th scope="col">DATA</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>
{%endblock%}
