{%extends 'base.html'%}

{%block tab%}Novo Filme - Minha Lista de Filmes{%endblock%}

{%block content%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
						<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center">
                            Adicionar Novo Filme
                        </h3>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <form>
                            <div class="form-group">
                                <label for="inputName">Nome</label>
                                <input type="text" class="form-control" id="inputName">
                            </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="checkbox">
                            
                            <label>
                                <input type="checkbox" /> Assistido
							</label>
                        </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="form-group">
                            <label for="inputAddress2">Data</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Se assistiu adicione a data">
                        </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Escreva sua resenha</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="form-group">
							 
							<label for="exampleInputFile">
								Adicionar Pôster
							</label>
                        </div> 
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="exampleInputFile" />
						</div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Adicionar
                            </button>
                            <a class="btn btn-secondary" href="{%url 'index'%}" role="button">Voltar</a>
                        </div>
                    </form>
                    <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
				</div>
				<div class="col-md-3">
					<h3 class="text-right">
						<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}