{%extends 'base.html'%}

{%block tab%}Editar Filme - Minha Lista de Filmes{%endblock%}

{%block content%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
						<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center">
                            Editar Filme
                        </h3>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputName">Nome</label>
                                <input type="text" class="form-control" name="name" value="{{movie.name}}">
                            </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="checkbox">
                            <label>
                                <input name="whatched" type="checkbox"/> Assistido
							</label>
                        </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="form-group">
                            <label for="inputAddress2">Data</label>
                            <input type="text" class="form-control" name="date" {%if movie.review%}value="{{movie.date|date:'d/m/Y'}}"{%endif%} placeholder="Se assistiu adicione a data">
                        </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Escreva sua resenha</label>
                            <textarea class="form-control" name="review" rows="3">{%if movie.review%}{{movie.review}}{%endif%}</textarea>
                          </div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div class="form-group">
							 
							<label for="exampleInputFile">
								Adicionar Pôster
							</label>
                        </div> 
                        <div class="form-group">
                            <input type="file" class="form-control-file"name="pic"/>
						</div>
                        <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Salvar
                            </button>
                            <a class="btn btn-secondary" href="{%url 'detail' movie.id%}" role="button">Voltar</a>
                        </div>
                    </form>
                    <h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
				</div>
				<div class="col-md-3">
					<h3 class="text-right">
						<h7>⠀⠀⠀⠀⠀⠀⠀⠀⠀</h7>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}