{%load static%}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <title>{%block tab%}{%endblock%}</title>
        {%include 'partials/_head.html'%}
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {%include 'partials/_nav.html'%}  
            
            {%block title%}{%endblock%}
            <main class="px-3">
                {%block content%}{%endblock%}
            </main>

            {%include 'partials/_footer.html'%}
        </div>
    </body>
</html>
